/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}

/*
 * Globals
 */

 /* Links */
 a,
 a:focus,
 a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

 html,
 body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

@font-face {
  font-family: Agency FB;
  src: url(../fonts/agency_fb.ttf) format("truetype");;
  font-style:normal;
}

h1, h2, h3, h4 {
  font-family: Agency FB;
  margin-bottom: 15px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.site-wrapper img {
  margin: auto;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  position: absolute;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .nav-masthead {
    float: right;
  }
}

nav {
  z-index: 1000;
  background-color: #333;
  position: sticky;
  top: 0.25em;
  bottom: auto;
  margin-top: -100px;
  padding: 1em;
  border-radius: 12px 0 0 12px;
}

.container-fluid {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-fluid:nth-child(odd) {
  background-color: rgba(255,255,255,.75);
  color: #000;
}

.container-fluid:nth-child(even) {
  background-color: rgba(0,0,0,.75);
}

div#backgrounds {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

div#backgrounds div {
  height: 100vh;
  background-size: cover;
}

.card-body {
  color: #000;
}

.card {
  margin: auto;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

.fc-view-container {
  background-color: rgba(255,255,255,.5);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.site-wrapper img {
  width: 300px;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}